<div class="language-switcher">
  <button mat-icon-button (click)="switchLanguage('sr')" [matTooltip]="'SERBIAN' | translate">
    <img src="assets/flags/sr.svg" alt="Serbian">
  </button>
  <button mat-icon-button (click)="switchLanguage('mk')" [matTooltip]="'MACEDONIAN' | translate">
    <img src="assets/flags/mk.svg" alt="Macedonian">
  </button>
  <button mat-icon-button (click)="switchLanguage('en')" [matTooltip]="'ENGLISH' | translate">
    <img src="assets/flags/en.svg" alt="English">
  </button>
</div>
<router-outlet></router-outlet>
