<footer class="main-footer">
  <div class="footer-container">
    <div class="footer-brand">
      <div class="flag-icon">
        <div class="flag-red"></div>
        <div class="flag-blue"></div>
        <div class="flag-white"></div>
      </div>
      <span style="font-weight: 700">СДЛ</span>
    </div>
    <p class="footer-copyright">© 2026 SDL. {{ 'ALL_RIGHTS_RESERVED' | translate }}</p>
    <div class="footer-links">
      <a class="footer-link" href="javascript:void(0)">{{ 'PRIVACY_POLICY' | translate }}</a>
      <a class="footer-link" href="javascript:void(0)">{{ 'TERMS_OF_SERVICE' | translate }}</a>
      <a class="footer-link" href="javascript:void(0)">{{ 'contact' | translate }}</a>
    </div>
  </div>
</footer>
